@model ShopTask.Models.Product

@{
    ViewBag.Title = "CreateProductView";
}

<div class="forms">
    @using (Html.BeginForm())
    {
        <h3>Add new product.</h3>
        <div>
            @Html.LabelFor(model => model.Title, "Title")
            <br />
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title, "", new { style = "color:red;" })
            <br /><br />
            @Html.LabelFor(model => model.Price, "Price")
            <br />
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price, "", new { style = "color:red;" })
            <br /><br />
            @Html.LabelFor(model => model.Description, "Description")
            <br />
            @Html.TextAreaFor(model => model.Description, new { cols = "40", rows = "3" })
            <br /><br />
        </div>
        <input type="submit" value="Add" />
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
