@model ShopTask.Models.Product

@{
    ViewBag.Title = "EditProduct";
}

<div class="forms">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h3>Edit product</h3>
        <div>
            @Html.HiddenFor(model => model.Id)

            @Html.LabelFor(model => model.Title, "Title")
            <br />
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title, "", new { style = "color:red;" })
            <br /><br />
            @Html.LabelFor(model => model.Price, "Price")
            <br />
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price, "", new { style = "color:red;" })
            <br /><br />
            @Html.LabelFor(model => model.Description, "Description")
            <br />
            @Html.TextAreaFor(model => model.Description, new { cols = "40", rows = "3" })
            <br /><br />
        </div>
        <input type="submit" value="Save" />
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>