@model ShopTask.Models.Product

@if(Model != null)
{
    ViewBag.Title = "Edit product";
    ViewBag.Header = "Edit product "+ Model.Title;
}
else
{
    ViewBag.Title = "Create product";
    ViewBag.Header = "Create new product";
}

<div class="forms">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h3>@ViewBag.Header</h3>
        <div>
            @if (Model != null)
            {
                @Html.HiddenFor(model => model.Id)
            }

            @Html.LabelFor(model => model.Title, "Title")
            <br />
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title, "", new { style = "color:red;" })
            <br /><br />
            @Html.LabelFor(model => model.Price, "Price")
            <br />
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price, "", new { style = "color:red;" })
            <br /><br />
            @Html.LabelFor(model => model.Description, "Description")
            <br />
            @Html.TextAreaFor(model => model.Description, new { cols = "40", rows = "3" })
            <br /><br />
        </div>
        <input type="submit" value="Save" />
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>