@model ShopTask.Models.Product

@{
    string header;
    if (Model != null)
    {
        ViewBag.Title = "Edit product";
        header = "Edit product " + Model.Title;
    }
    else
    {
        ViewBag.Title = "New product";
        header = "Create new product";
    }

}
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="product-form-body">
            <p class="product-form-header">@header</p>
            @Html.HiddenFor(model => model.Id)

            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title, "", new { style = "color:red;" })
            <br /><br />
            @Html.LabelFor(model => model.Price)
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price, "", new { style = "color:red;" })
            <br /><br />
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { cols = "40", rows = "3" })
            <br /><br />
            <input type="submit" value="Save" />
        </div>       
    }
</div>