@model IEnumerable<ShopTask.Models.Product>

@if (Model.Any())
{
    <table id="productTable" class="product-table"
           data-delete-url="@Url.Action("DeleteProduct","Home")">
        <tr>
            <td>
                Title
            </td>
            <td>
                Price
            </td>
            <td>
            </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="js-table-product-title"><a href="/Product/@item.Id" class="edit-link">@item.Title</a></td>
                <td>@item.Price</td>
                <td>
                    <a href="#" class="delete-link" data-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
}

<p class="@(Model.Any() ? "hidden " : "") empty-table-placeholder">No table</p>

<br />

<script src="~/Scripts/TablePartialView/Delete.js"></script>