@using ShopTask.Helpers;
@model IEnumerable<ShopTask.Models.Product>

@if (Model.Any())
{
    <table id="productTable" class="table" 
            data-delete-url="@Url.Action("DeleteProduct","Home")">
        <tr>
            <th>
                Title
            </th>
            <th class="col2">
                Price
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="js-table-product-title">@item.Title</td>
                <td class="col2">@item.Price</td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new { productId = item.Id }) | 
                    <a href="#" class="deletelink" data-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
}

@Html.EmptyTablePlaceholder("No table", Model.Any())

<br />
@Html.ActionLink("Add new product", "CreateProduct")

<script src="~/Scripts/TablePartialView/Delete.js"></script>