@using ShopTask.Models;
@using ShopTask.Resources;
@using ShopTask.Resources.Shared;
@using System.Globalization;
@using ShopTask.Utils;

@helper AddActivePageClass(string action, string controller)
{
    if (action == ViewContext.RouteData.GetRequiredString("action") && (controller == ViewContext.RouteData.GetRequiredString("controller")))
    {
        @:active-page-link
    }
}

@{
    CategoryModel[] categories = ViewBag.Categories;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script type="text/javascript">
        var apiRootUrl = '@HttpContext.Current.Request.ApplicationPath';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/libs/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/index")

    <div class="navbar">
        <div class="navbar-body">
            <a href="@Url.Action("CreateProduct", "Products")" class="navbar-link @AddActivePageClass("CreateProduct", "Products")">@Res.CreateProductTitle</a>
            <div class="inventory-link">
                <a href="@Url.Action("Index", "Products")" class="navbar-link @AddActivePageClass("Index", "Products")">@Res.ProductsTitle</a>
                @if (categories.Any())
                {
                    <ul class="categories-filter">
                        @foreach (var category in categories)
                        {
                            <li class="category-filter-link"><a href="@Url.Action("Index", "Products", new { filterCategoryId = category.Id})">@category.Name</a></li>
                        }
                    </ul>
                }
            </div>
            <a href="@Url.Action("Index", "Order")" class="navbar-link @AddActivePageClass("Index", "Order")">@Res.OrdersTitle</a>
            <a href="@Url.Action("Index", "Categories")" class="navbar-link @AddActivePageClass("Index", "Categories")">@Res.CategoriesTitle</a>

            <select class="js-culture-select" data-change-culture-url="@Url.Action("ChangeCulture", "Base")">
                <option disabled selected>@Res.DefaultCultureSelect</option>
                @foreach (var culture in LocalizationConfig.SupportedCultures)
                {
                    <option value="@culture">@CulturesTitlesRes.ResourceManager.GetString(culture)</option>
                }
            </select>

        </div>
    </div>

    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
