@model IEnumerable<ShopTask.DataAccess.Entities.Product>
@{
    ViewBag.Title = "Inventory" + ViewBag.FilterSubtitle;
}

@if (Model.Any())
{
    <table id="productTable" class="product-table"
           data-delete-url="@Url.Action("DeleteProduct")">
        <tr>
            <td>
                Title
            </td>
            <td>
                Category
            </td>
            <td>
                Price
            </td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="js-table-product-title"><a href="@Url.Action("EditProduct", new { productId = item.Id})" class="edit-link">@item.Title</a></td>
                <td class="table-product-category">@item.Category.Name</td>
                <td class="table-product-price">@item.Price</td>
                <td class="table-product-delete">
                    <a href="#" class="js-delete-link" data-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
}

<p class="@(Model.Any() ? "hidden " : "")js-empty-table-placeholder">No table</p>
