@using ShopTask.Models
@using ShopTask.Resources;
@model ProductModel

@{
    string header;
    if (Model.Id != null)
    {
        ViewBag.Title = Res.EditProductTitle;
        header = $"{Res.EditProductTitle} {Model.Title}";
    }
    else
    {
        ViewBag.Title = Res.CreateProductTitle;
        header = Res.CreateProductHeader;
    }
}

<div class="product-form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-header">
            <p class="form-header-text">@header</p>
        </div>
        @Html.HiddenFor(model => model.Id)

        <div class="product-form-body">
            <div class="product-form-col2">
                @Html.ValidationMessageFor(model => model.Title, "", new { style = "color:red;" })
            </div>
            @Html.LabelFor(model => model.Title, new { @class = "product-form-col1" })
            <div class="product-form-col2">
                @Html.TextBoxFor(model => model.Title, new { @class = "product-text-box" })
            </div>

            @Html.LabelFor(model => model.Category.Name, new { @class = "product-form-col1" })
            <div class="product-form-col2">
                @Html.DropDownListFor(model => model.CategoryId, Model.Categories, new { @class = "product-dropdownlist" })
            </div>

            <div class="product-form-col2">
                @Html.ValidationMessageFor(model => model.Price, "", new { style = "color:red;" })
            </div>
            @Html.LabelFor(model => model.Price, new { @class = "product-form-col1" })
            <div class="product-form-col2">
                @Html.TextBoxFor(model => model.Price, new { @class = "product-text-box" })
            </div>

            @Html.LabelFor(model => model.Description, new { @class = "product-form-col1" })
            <div class="product-form-col2">
                @Html.TextAreaFor(model => model.Description, new { @class = "product-textarea", rows = "6" })
            </div>

            <div class="product-form-col2">
                <input type="submit" class="form-save-button" value="@Res.FormSaveButton" />
            </div>
        </div>
    }
</div>
